body, html {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

/*-------Navbar--------*/
nav {
  height: 40px;
  background-color: yellow;
}

/*nav ul {
  display: flex;
}*/
/*-------/Navbar--------*/

.mainPage {
  /*height: 100vh;*/
  display: flex;
  flex-direction: column;
}

.messagepage{
  display: none;
  padding-left: 50px;
  width: auto;
  height: auto;
  border: 1px solid black;
}

.messagepage textarea{
  height: 75px;
  width: 300px;
}

/*video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}*/

.landingArea {
  display: flex;
  /*flex-direction: column;*/
  height: 100vh;
  background-color: #196cfc;
  display: flex;
  justify-content: space-around;
  /*align-items: center;*/
}

.landingArea h1 {
  font-size: 5em;
  color: white;
}

.landingArea h1 span {
  font-weight: 300;
  margin-left: 50px;
}

.landingArea p {
  font-size: 2em;
  color: white;
  margin-left: 50px;
}

.landingForm {
  display: flex;
  align-items: center;
}

.userForm {
  display: flex;
  justify-content: center;
  background-color: #196cfc;
}

.userForm p {
  color: white;
  font-size: 1.5em;
  font-weight: 300;
}

form {
  width: 600px;
  display: flex;
  justify-content: center;
}

.insideForm {
  width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(137, 137, 137, .8);
  padding-bottom: 25px;
  border-radius: 5px;
}

.inputDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  justify-content: space-between;
}

.inputDiv .inputDivH1 {
  font-size: 2em;
  font-weight: 300;
  color: white;
}

.inputDiv input{
  width: 400px;
  height: 30px;
  font-size: 1em;
  padding-left: 15px;
  border: 1px solid #efefef;
}

.insideForm .interests {
  margin-left: 0;
}

.checkBoxes {
  height:100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.checkBoxes div {
  width: 200px;
  display: flex;
  align-items: center;
  color: white;
}

.insideForm .formButton {
  margin-top: 40px;
  background-color: orange;
  width: 200px;
  height: 50px;
  font-size: 1.5em;
  font-weight: 300;
  /*border: 1px solid #efefef;*/
  border: none;
  color: white;
  border-radius: 3px;
  transition-duration: .3s;
  box-shadow: 1px 1px 1px rgba(57, 57, 57, 0.4);
  cursor: pointer;
}

.insideForm .formButton:focus {
  outline: none;
}

/*.insideForm .formButton:hover {
  transform: translateY(-3px);
  box-shadow: 2px 2px 3px rgba(57, 57, 57, 0.4);
}*/

/*---------User Account--------*/
.userAccountCont {
  display: flex;
  flex-direction: column;
}

pendingCont {
  background-color: blue;
}

/*---------/User Account------*/



/*---------Footer------------*/
footer {
  height: 40px;
  background-color: #196cfc;
  display: flex;
  align-items: center;
}

small {
  color: #CFD7DF;
  margin-left: 40px;
}
/*---------/Footer------------*/
